nifi_flows/NiFi_Flow.json
{
  "flowContents": {
    "identifier": "3c260880-cfe3-3304-af10-a706c9ea28a0",
    "instanceIdentifier": "c3a3f9e5-0196-1000-a8c4-d288c075f636",
    "name": "NiFi Flow",
    "comments": "",
    "position": { "x": 0.0, "y": 0.0 },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "a8164a80-0750-39a1-92ef-44104b1028f8",
        "instanceIdentifier": "c3ba870c-0196-1000-3796-bc05bfafae8e",
        "name": "LogAttribute",
        "comments": "",
        "position": { "x": 560.0, "y": 328.0 },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "d620f4d0-e634-3d25-bf02-77f2061de8a2",
        "instanceIdentifier": "c3a5322d-0196-1000-4391-b2caa03e193f",
        "name": "ConsumeKafka",
        "comments": "",
        "position": { "x": -1040.0, "y": 40.0 },
        "type": "org.apache.nifi.kafka.processors.ConsumeKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Topics": null,
          "Commit Offsets": "true",
          "Header Name Pattern": null,
          "Key Format": "byte-array",
          "Key Record Reader": null,
          "Message Demarcator": null,
          "Record Reader": null,
          "Key Attribute Encoding": "utf-8",
          "Topic Format": "names",
          "Header Encoding": "UTF-8",
          "Max Uncommitted Time": "1 sec",
          "Kafka Connection Service": null,
          "Separate By Key": "false",
          "Processing Strategy": "FLOW_FILE",
          "Record Writer": null,
          "Group ID": null,
          "auto.offset.reset": "latest",
          "Output Strategy": "USE_VALUE"
        },
        "propertyDescriptors": {
          "Topics": {
            "name": "Topics",
            "displayName": "Topics",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Commit Offsets": {
            "name": "Commit Offsets",
            "displayName": "Commit Offsets",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Name Pattern": {
            "name": "Header Name Pattern",
            "displayName": "Header Name Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Key Format": {
            "name": "Key Format",
            "displayName": "Key Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Key Record Reader": {
            "name": "Key Record Reader",
            "displayName": "Key Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Key Attribute Encoding": {
            "name": "Key Attribute Encoding",
            "displayName": "Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Format": {
            "name": "Topic Format",
            "displayName": "Topic Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Uncommitted Time": {
            "name": "Max Uncommitted Time",
            "displayName": "Max Uncommitted Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Separate By Key": {
            "name": "Separate By Key",
            "displayName": "Separate By Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Processing Strategy": {
            "name": "Processing Strategy",
            "displayName": "Processing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Group ID": {
            "name": "Group ID",
            "displayName": "Group ID",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "auto.offset.reset": {
            "name": "auto.offset.reset",
            "displayName": "Auto Offset Reset",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Strategy": {
            "name": "Output Strategy",
            "displayName": "Output Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "7e4abd41-f610-3752-bff9-b0973f96a293",
        "instanceIdentifier": "c3b93ea7-0196-1000-296c-b4349801a9da",
        "name": "PutFile",
        "comments": "",
        "position": { "x": -496.0, "y": 632.0 },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Group": null,
          "Owner": null,
          "Create Missing Directories": "true",
          "Permissions": null,
          "Maximum File Count": null,
          "Last Modified Time": null,
          "Directory": null,
          "Conflict Resolution Strategy": "fail"
        },
        "propertyDescriptors": {
          "Group": {
            "name": "Group",
            "displayName": "Group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Owner": {
            "name": "Owner",
            "displayName": "Owner",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Create Missing Directories": {
            "name": "Create Missing Directories",
            "displayName": "Create Missing Directories",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Permissions": {
            "name": "Permissions",
            "displayName": "Permissions",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum File Count": {
            "name": "Maximum File Count",
            "displayName": "Maximum File Count",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Last Modified Time": {
            "name": "Last Modified Time",
            "displayName": "Last Modified Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Directory": {
            "name": "Directory",
            "displayName": "Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Conflict Resolution Strategy": {
            "name": "Conflict Resolution Strategy",
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "44e5e7dd-71f3-3b16-b6e4-e33c037362e0",
        "instanceIdentifier": "c3b96cdb-0196-1000-df42-2ec25ee5c196",
        "name": "LogAttribute",
        "comments": "",
        "position": { "x": 376.0, "y": 888.0 },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "ddfc8993-bc7f-3b0d-806a-71394c3939a4",
        "instanceIdentifier": "c3ba21e0-0196-1000-e779-bb702b04eec6",
        "name": "PutFile",
        "comments": "",
        "position": { "x": -1192.0, "y": 616.0 },
        "type": "org.apache.nifi.processors.standard.PutFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Group": null,
          "Owner": null,
          "Create Missing Directories": "true",
          "Permissions": null,
          "Maximum File Count": null,
          "Last Modified Time": null,
          "Directory": null,
          "Conflict Resolution Strategy": "fail"
        },
        "propertyDescriptors": {
          "Group": {
            "name": "Group",
            "displayName": "Group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Owner": {
            "name": "Owner",
            "displayName": "Owner",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Create Missing Directories": {
            "name": "Create Missing Directories",
            "displayName": "Create Missing Directories",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Permissions": {
            "name": "Permissions",
            "displayName": "Permissions",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum File Count": {
            "name": "Maximum File Count",
            "displayName": "Maximum File Count",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Last Modified Time": {
            "name": "Last Modified Time",
            "displayName": "Last Modified Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Directory": {
            "name": "Directory",
            "displayName": "Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Conflict Resolution Strategy": {
            "name": "Conflict Resolution Strategy",
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "2c076676-d67e-333b-8e0f-7efeec71d526",
        "instanceIdentifier": "c3a558a2-0196-1000-a88d-610393969af1",
        "name": "ValidateJson",
        "comments": "",
        "position": { "x": -360.0, "y": 48.0 },
        "type": "org.apache.nifi.processors.standard.ValidateJson",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "JSON Schema Version": "DRAFT_2020_12",
          "JSON Schema": null,
          "JSON Schema Registry": null,
          "Schema Access Strategy": "SCHEMA_CONTENT_PROPERTY",
          "Schema Name": "${schema.name}"
        },
        "propertyDescriptors": {
          "JSON Schema Version": {
            "name": "JSON Schema Version",
            "displayName": "JSON Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "JSON Schema": {
            "name": "JSON Schema",
            "displayName": "JSON Schema",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": ["FILE", "URL", "TEXT"]
            }
          },
          "JSON Schema Registry": {
            "name": "JSON Schema Registry",
            "displayName": "JSON Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Access Strategy": {
            "name": "Schema Access Strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Name": {
            "name": "Schema Name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "3147f18a-4340-3d98-9fe6-f5cbdeff9198",
        "instanceIdentifier": "c3b80fc0-0196-1000-f4f5-443887db80c0",
        "name": "ExecuteScript",
        "comments": "",
        "position": { "x": -184.0, "y": 336.0 },
        "type": "org.apache.nifi.processors.script.ExecuteScript",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-scripting-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Script File": null,
          "Script Engine": "Clojure",
          "Script Body": null,
          "Module Directory": null
        },
        "propertyDescriptors": {
          "Script File": {
            "name": "Script File",
            "displayName": "Script File",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": ["FILE"]
            }
          },
          "Script Engine": {
            "name": "Script Engine",
            "displayName": "Script Engine",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Script Body": {
            "name": "Script Body",
            "displayName": "Script Body",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Module Directory": {
            "name": "Module Directory",
            "displayName": "Module Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": ["FILE", "DIRECTORY"]
            }
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "ef81a4e9-9dec-3c89-9022-c8ef6727ce22",
        "instanceIdentifier": "c3b927a4-0196-1000-11e2-9310994c4be1",
        "name": "PublishKafka",
        "comments": "",
        "position": { "x": -840.0, "y": 400.0 },
        "type": "org.apache.nifi.kafka.processors.PublishKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.0.0"
        },
        "properties": {
          "compression.type": "none",
          "acks": "all",
          "Message Demarcator": null,
          "Kafka Key Attribute Encoding": "utf-8",
          "Record Reader": null,
          "Record Metadata Strategy": "FROM_PROPERTIES",
          "Transactional ID Prefix": null,
          "Header Encoding": "UTF-8",
          "max.request.size": "1 MB",
          "Topic Name": null,
          "Kafka Key": null,
          "partition": null,
          "Kafka Connection Service": null,
          "Publish Strategy": "USE_VALUE",
          "Record Key Writer": null,
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Record Writer": null,
          "Transactions Enabled": "true",
          "Message Key Field": null,
          "FlowFile Attribute Header Pattern": null
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key Attribute Encoding": {
            "name": "Kafka Key Attribute Encoding",
            "displayName": "Kafka Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Metadata Strategy": {
            "name": "Record Metadata Strategy",
            "displayName": "Record Metadata Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Transactional ID Prefix": {
            "name": "Transactional ID Prefix",
            "displayName": "Transactional ID Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Name": {
            "name": "Topic Name",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key": {
            "name": "Kafka Key",
            "displayName": "Kafka Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Publish Strategy": {
            "name": "Publish Strategy",
            "displayName": "Publish Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Key Writer": {
            "name": "Record Key Writer",
            "displayName": "Record Key Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner Class",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Transactions Enabled": {
            "name": "Transactions Enabled",
            "displayName": "Transactions Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Key Field": {
            "name": "Message Key Field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "FlowFile Attribute Header Pattern": {
            "name": "FlowFile Attribute Header Pattern",
            "displayName": "FlowFile Attribute Header Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "8f64f868-86df-3dfd-98d0-bfd4246af6ff",
        "instanceIdentifier": "c3b99ce2-0196-1000-1bcf-4cecedef5809",
        "name": "InvokeHTTP",
        "comments": "",
        "position": { "x": 152.0, "y": 592.0 },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "HTTP URL": null,
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "GET",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "06262861-e5d0-3808-b930-4b8f57524515",
        "instanceIdentifier": "c3bacbb8-0196-1000-833a-b879400eb565",
        "name": "LogAttribute",
        "comments": "",
        "position": { "x": -848.0, "y": 880.0 },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "fd82d8c0-d34a-389c-8981-7b0c94086625",
        "instanceIdentifier": "c3bd4e7a-0196-1000-d446-cdea358b0376",
        "name": "",
        "source": {
          "id": "ddfc8993-bc7f-3b0d-806a-71394c3939a4",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "c3ba21e0-0196-1000-e779-bb702b04eec6"
        },
        "destination": {
          "id": "06262861-e5d0-3808-b930-4b8f57524515",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "c3bacbb8-0196-1000-833a-b879400eb565"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure", "success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "310afc72-9c6c-3596-8487-31a208a764ca",
        "instanceIdentifier": "c3bd60b1-0196-1000-fb64-f61e5cea75e7",
        "name": "",
        "source": {
          "id": "7e4abd41-f610-3752-bff9-b0973f96a293",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "c3b93ea7-0196-1000-296c-b4349801a9da"
        },
        "destination": {
          "id": "06262861-e5d0-3808-b930-4b8f57524515",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "c3bacbb8-0196-1000-833a-b879400eb565"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure", "success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "d2f17301-318b-39dc-bd1a-18cffb124370",
        "instanceIdentifier": "c3bbe105-0196-1000-19e3-36fd32be4d9b",
        "name": "",
        "source": {
          "id": "3147f18a-4340-3d98-9fe6-f5cbdeff9198",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ExecuteScript",
          "comments": "",
          "instanceIdentifier": "c3b80fc0-0196-1000-f4f5-443887db80c0"
        },
        "destination": {
          "id": "ef81a4e9-9dec-3c89-9022-c8ef6727ce22",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PublishKafka",
          "comments": "",
          "instanceIdentifier": "c3b927a4-0196-1000-11e2-9310994c4be1"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "dbefc048-c205-30a0-b2fa-85a65c1f743a",
        "instanceIdentifier": "c3bb80da-0196-1000-2756-6cb8599e338c",
        "name": "",
        "source": {
          "id": "2c076676-d67e-333b-8e0f-7efeec71d526",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ValidateJson",
          "comments": "",
          "instanceIdentifier": "c3a558a2-0196-1000-a88d-610393969af1"
        },
        "destination": {
          "id": "3147f18a-4340-3d98-9fe6-f5cbdeff9198",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ExecuteScript",
          "comments": "",
          "instanceIdentifier": "c3b80fc0-0196-1000-f4f5-443887db80c0"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["valid"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "f1326848-f092-3e43-8629-ba097f8ca404",
        "instanceIdentifier": "c3bbb9cb-0196-1000-1587-0c7eb31c4ec9",
        "name": "",
        "source": {
          "id": "2c076676-d67e-333b-8e0f-7efeec71d526",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ValidateJson",
          "comments": "",
          "instanceIdentifier": "c3a558a2-0196-1000-a88d-610393969af1"
        },
        "destination": {
          "id": "ef81a4e9-9dec-3c89-9022-c8ef6727ce22",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PublishKafka",
          "comments": "",
          "instanceIdentifier": "c3b927a4-0196-1000-11e2-9310994c4be1"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["invalid"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "332b7830-d60c-39f7-96d1-ead5aaca5ccb",
        "instanceIdentifier": "c3bcf5af-0196-1000-e691-25ec3ed02a44",
        "name": "",
        "source": {
          "id": "ef81a4e9-9dec-3c89-9022-c8ef6727ce22",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PublishKafka",
          "comments": "",
          "instanceIdentifier": "c3b927a4-0196-1000-11e2-9310994c4be1"
        },
        "destination": {
          "id": "7e4abd41-f610-3752-bff9-b0973f96a293",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "c3b93ea7-0196-1000-296c-b4349801a9da"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "848b629c-5da9-3b1e-826a-8781aaadf298",
        "instanceIdentifier": "c3bce1af-0196-1000-1d8f-db76b5a1ac3e",
        "name": "",
        "source": {
          "id": "ef81a4e9-9dec-3c89-9022-c8ef6727ce22",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PublishKafka",
          "comments": "",
          "instanceIdentifier": "c3b927a4-0196-1000-11e2-9310994c4be1"
        },
        "destination": {
          "id": "ddfc8993-bc7f-3b0d-806a-71394c3939a4",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PutFile",
          "comments": "",
          "instanceIdentifier": "c3ba21e0-0196-1000-e779-bb702b04eec6"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "656cbd4f-849d-34c2-8e0a-d8772be355a2",
        "instanceIdentifier": "c3bc113a-0196-1000-4efe-4b22042f23cd",
        "name": "",
        "source": {
          "id": "3147f18a-4340-3d98-9fe6-f5cbdeff9198",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ExecuteScript",
          "comments": "",
          "instanceIdentifier": "c3b80fc0-0196-1000-f4f5-443887db80c0"
        },
        "destination": {
          "id": "8f64f868-86df-3dfd-98d0-bfd4246af6ff",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "c3b99ce2-0196-1000-1bcf-4cecedef5809"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "7f0d0305-5360-3ab4-84cf-0726e104f794",
        "instanceIdentifier": "c3bc6aca-0196-1000-10eb-209e573b7ff8",
        "name": "",
        "source": {
          "id": "8f64f868-86df-3dfd-98d0-bfd4246af6ff",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "c3b99ce2-0196-1000-1bcf-4cecedef5809"
        },
        "destination": {
          "id": "44e5e7dd-71f3-3b16-b6e4-e33c037362e0",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "c3b96cdb-0196-1000-df42-2ec25ee5c196"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Response",
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "986a8406-199d-3982-85bf-91fa6286d5c8",
        "instanceIdentifier": "c3bcb495-0196-1000-69b2-e6a3426454dc",
        "name": "",
        "source": {
          "id": "8f64f868-86df-3dfd-98d0-bfd4246af6ff",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "c3b99ce2-0196-1000-1bcf-4cecedef5809"
        },
        "destination": {
          "id": "ef81a4e9-9dec-3c89-9022-c8ef6727ce22",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "PublishKafka",
          "comments": "",
          "instanceIdentifier": "c3b927a4-0196-1000-11e2-9310994c4be1"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["Failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "9804414b-90b9-313b-9849-eb746a7a1cd6",
        "instanceIdentifier": "c3bbfd9d-0196-1000-c28c-3e2595b24ebf",
        "name": "",
        "source": {
          "id": "3147f18a-4340-3d98-9fe6-f5cbdeff9198",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ExecuteScript",
          "comments": "",
          "instanceIdentifier": "c3b80fc0-0196-1000-f4f5-443887db80c0"
        },
        "destination": {
          "id": "a8164a80-0750-39a1-92ef-44104b1028f8",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "c3ba870c-0196-1000-3796-bc05bfafae8e"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["failure"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      },
      {
        "identifier": "999ca74a-a8c5-3847-b518-8e07853d136d",
        "instanceIdentifier": "c3bb505d-0196-1000-816c-5c16856c48bc",
        "name": "",
        "source": {
          "id": "d620f4d0-e634-3d25-bf02-77f2061de8a2",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ConsumeKafka",
          "comments": "",
          "instanceIdentifier": "c3a5322d-0196-1000-4391-b2caa03e193f"
        },
        "destination": {
          "id": "2c076676-d67e-333b-8e0f-7efeec71d526",
          "type": "PROCESSOR",
          "groupId": "3c260880-cfe3-3304-af10-a706c9ea28a0",
          "name": "ValidateJson",
          "comments": "",
          "instanceIdentifier": "c3a558a2-0196-1000-a88d-610393969af1"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3c260880-cfe3-3304-af10-a706c9ea28a0"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
